{% include 'partials/navbar/navbar.html' %}
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'home:index' %}">App</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Abrir menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:index' %}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
